@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;

@layer utilities {
  .translate-3d-14S {
    transform: translate3d(0, 4px, 0);
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  .transition-after-14 {
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s,
      right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s,
      left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  }
  .scale-3d-101 {
    transform: scale3d(1, 0, 1);
  }
  .scale-3d-011 {
    transform: scale3d(0, 1, 1);
  }
  @variants group-hover, hover {
    .translate-3d-h-14 {
      transform: translate3d(0, 0, 0);
      transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }
    .transition-after-h-14 {
      transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s,
        right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
    }
    .scale-3d-011 {
      transform: scale3d(0, 1, 1);
    }
    .scale-3d-111 {
      transform: scale3d(1, 1, 1);
    }
  }
}

.footerLink {
  @apply mt-2 px-5 active:translate-y-1 transform transition;
}

.footerIcon {
  @apply w-11 h-12 p-2;
}

.buttons {
  @apply w-1/2 text-xl p-5 text-white font-semibold  mx-auto text-center rounded-xl shadow-lg shadow-neutral-400 bg-turquoise-600  hover:bg-sunset-500  active:translate-y-1 transform transition;
}

.buttonsIcon {
  @apply inline-flex w-6 ml-3;
}

div.buttons > a {
  @apply block px-1 py-5;
}

.dashboardIcon {
  @apply inline-flex w-8;
}

.text {
  @apply mt-5 p-2 text-xl text-center;
}

.profileImg {
  @apply w-52 h-52 rounded-full p-1 m-auto shadow-inner object-cover object-top;
}

.editPageItems {
  @apply my-3 flex flex-col w-9/12 text-lg accent-turquoise-700;
}

.editPageItems > input {
  @apply bg-neutral-50 mt-1 border border-neutral-300 text-sm rounded-lg  focus:border-turquoise-700 w-full p-2;
}

.errorsMessage {
  @apply text-sunset-600 font-medium text-base;
}

body {
  @apply font-poppins text-neutral-900;
}

.successtoast {
  @apply bg-turquoise-500;
}

@tailwind utilities;

:root {
  --toastify-color-success: #5fc9cf !important;
  --toastify-color-error: #ff6158 !important;
}
